.img-div{
    width: 30vw;
}

.div-detail-personnage{
    width: 20vw;
    font-weight: normal;
}

.div-detail-personnage h1{
    font-weight: normal;
    font-size: 2.5rem;
}
.div-detail-personnage h3{
    font-weight: normal;
    font-size: 1.75rem;
}
.div-lore{
    width: 50vw;
}


/* ~~~~~~~~~~~Statistique~~~~~~~~~~~ */
.div-statistique{
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    grid-auto-rows: minmax(100px, auto);
    text-align : center;
}

.statistique-valeur{
    /* padding; */
    display: table;
    text-align: center;
    border: 2px black solid;
    border-radius: 172px;
    height: 7.5vh;
    width: 15vw;
    background: rgba(238, 212, 177, 0.50);
}

.statistique-valeur p {
    font-size: 2rem;
    margin-top: auto;
    vertical-align: middle;
    display: table-cell;
}
.label{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}
.label-form{
    margin: 0;
    text-align: inherit;
}
/* ~~~~~~~~~~~Statut~~~~~~~~~~~ */
.div-statut{
    width: 40vw;
}
.indication-statut{
    /* position: absolute; */
    font-weight: bold;
    font-size: 2rem;
    top : -45px;
}
.statut{
    display: block;
}
.label-statut{
    display: inline-block;
    width: 32px;
}
.statut input[type="number"]{
    /* background: none; */
    border-radius: 172px;
    border: 2px black solid;
    height: 48px;
    width: 48px;
    text-align: center;
    box-shadow: none;
    font-size: 1.5rem;
}

.statut input[type="number"]::placeholder{
    color: rgb(37, 60, 80);
    opacity: 1;
    font-family: 'centurion';
}

#pv-plus{
    background-image: url("../assets/icons/status/pv-plus.svg");
}
#pv-plus:focus {
    background-image: none;
}
#pv-moins{
    background-image: url("../assets/icons/status/pv-moins.svg");
}
#pv-moins:focus {
    background-image: none;
}
#pm-plus{
    background-image: url("../assets/icons/status/pm-plus.svg");
}
#pm-plus:focus {
    background-image: none;
}
#pm-moins{
    background-image: url("../assets/icons/status/pm-moins.svg");

}
#pm-moins:focus {
    background-image: none;

}
#pc-plus{
    background-image: url("../assets/icons/status/pc-plus.svg");
}
#pc-plus:focus {
    background-image: none;
}
#pc-moins{
    background-image: url("../assets/icons/status/pc-moins.svg");
}
#pc-moins:focus {
    background-image: none;
}
.max{
    display: inline-block;
    width: 75px;
    font-size: 1.5rem;
    margin-right: 5%;
}


/* ~~~~~~~~~~~form~~~~~~~~~~~ */
.inventaire-form{
    text-align: center;
}
.inventaire-form textarea, .inventaire-form input{
    width: 90vw;
}
.div-sauvegarde{
    position: relative;
    min-height: 50px;
}
.sauvegarde{
    position: absolute;
    left: 60%;
}

#result{
    height: 3rem;
    width: 202px;
    border: 1px solid black;
    text-align: center;
    background :rgba(238, 212, 177, 0.50);
    transition: background 600ms;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.dices-div {
    height: 20vh;
    border: 1px solid black;
    position: relative;
    margin: auto;
}
.dices-div .simple-dices {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* ~~~~~~~~~~~equipement~~~~~~~~~~~ */
.tableau{
    width: 43vw;
}

@media (max-width: 1000px) {

    .div-detail-personnage{
        text-align: center;
        width: 100%;
    }
    .div-lore{
        width: 100%;
    }

    .div-statistique{
        width: 100%;
    }
    .statistique-valeur{
        margin: auto;
        height: 5vh;
    }

    .div-statut{
        width: 100%;
    }

    .div-competence{
        display: block;
    }
  .competence{
        width: 100%;
        margin-bottom: 5vh;
    }
}
@media (max-width: 1100px) {
    .statut input[type="number"]{
        height: 40px;
        width: 40px;
    }
    .label-statut{
        font-size: 1rem;
        width: 24px;
    }
    .max{
        width: 75px;
        margin-right: 0%;
    }
}