.row{
    margin: 50px 0;
}

.img{

    border: 2px solid;
    height: 200px;
    min-width: 100px;
}

#title{
    text-align: center;
}
/* ~~~~~~~~~~~Statistique~~~~~~~~~~~ */
.statistique{

    padding: 0;
    text-align: center;
    border: 2px black solid;
    border-radius: 172px;
}
.statistique p {
    font-size: 2rem;
}
.label{
    text-align: center;
    font-weight: bold;
}
.label-form{
    margin: 0;
    text-align: inherit;
}
/* ~~~~~~~~~~~Statut~~~~~~~~~~~ */

input[type="integer"]{
    background: none;
    border-radius: 172px;
    border: 2px black solid;
    height: 48px;
    width: 48px;
    text-align: center;
    box-shadow: none;
}
#bar-container{
    position: relative;
}
.label-statut{
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
    top : -45px;
}
.statut{
    position: relative;
}
.max{
    margin-right: 15px;
}
.input-enabled {
    position: absolute;
}
.bar {
    position: absolute;
    left: 25%;
    top : 13.6px
}
.soustrait{
    left: 73.7%;
}
.ajout{
    left: 60.5%;
}
#label-plus{
    left: 62.8%;
}
#label-moins{
    left: 76.8%;
}

/* ~~~~~~~~~~~Les Tableaux~~~~~~~~~~~ */
table, th, td {
    border: 1px solid black;
    text-align: center;
}

.tableaux-row{
    margin: 10px;
}
.titre-table{
    text-decoration: none;
    text-align: center;
}



.tableau{
    margin: auto;
}

/* ~~~~~~~~~~~form~~~~~~~~~~~ */
.div-sauvegarde{
    position: relative;
    min-height: 50px;
}
.sauvegarde{
    position: absolute;
    left: 60%;
}
#inventaire{
    width: 400px;
    height: 200px;
    overflow-y: auto;
    border: 1px black solid
}
#po{
    height: 26px;
    width: 202px;
    border: 1px black solid
}




#result{
    height: 64px;
}
#lore-content{
    width: 546px;
}