.row{
    margin: 50px 0;
}

.img{

    border: 2px solid;
    height: 150px;
    width: 100px;
}


.circle{

    padding: 0;
    text-align: center;
    border: 2px black solid;
    border-radius: 172px;
}
.circle p {
    font-size: 2rem;
}
.comp{
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

input[type="integer"]{
    background: none;
    border-radius: 172px;
    border: 2px black solid;
    height: 48px;
    width: 48px;
    text-align: center;
}
#bar-container{
    position: relative;
}
.label{
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
    top : -45px;
}
.stat{
    position: relative;
}
.input-enabled {
    position: absolute;
}
.bar {
    position: absolute;
    left: 25%;
    top : 13.6px
}

.soustrait{
    left: 73.7%;
}
.ajout{
    left: 60.5%;
}
#label-plus{
    left: 62.8%;
}
#label-moins{
    left: 76.8%;
}
.max{
    margin-right: 15px;
}