

 input[type="range"]::-moz-range-thumb {
    width: 6px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

 @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 160px;
        overflow: hidden;
        background-color: transparent;
      }
          
      input[type='range']::-webkit-slider-runnable-track {
        height: 25px;
        -webkit-appearance: none;
        margin-top: -1px;
      }
      
      input[type='range']::-webkit-slider-thumb {
        width: 6px;
        height: 25px;
        border-radius: 50px;
        -webkit-appearance: none;
        cursor: ew-resize;
        background: #04AA6D;
      }

      #pv-range::-webkit-slider-thumb {
        box-shadow: -80px 0 0 80px red;
      }
      #pm-range::-webkit-slider-thumb {
        box-shadow: -80px 0 0 80px blue;  
    }
    #pc-range::-webkit-slider-thumb {
        box-shadow: -80px 0 0 80px green;
          
    }
}

  input[type="range"]::-moz-range-progress {
    height: 25px;
    border-radius: 50px;
  }
  #pv-range[type="range"]::-moz-range-progress {
    
    background-image: linear-gradient(120deg, black 0%, red 100%);
  }
  #pc-range[type="range"]::-moz-range-progress {
    background-image: linear-gradient(120deg, black 0%, green 100%);
  }
  #pm-range[type="range"]::-moz-range-progress {
    background-image: linear-gradient(120deg, black 0%, blue 100%);
  }
  
  #pv-range[type="range"]::-ms-fill-lower {
    background-image: linear-gradient(120deg, black 0%, red 100%);
  }
  #pc-range[type="range"]::-ms-fill-lower {
    background-image: linear-gradient(120deg, black 0%, green 100%);
  }
  #pm-range[type="range"]::-ms-fill-lower {
    background-image: linear-gradient(120deg, black 0%, blue 100%);
  }

  input[type="range"]::-moz-range-track {  
    background-color: white;
  }
  input[type="range"]::-ms-fill-upper {  
    background-color: white;
  }