.sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: none;
    right: 0;
    transition: 600ms;
    border: 1px solid;
}

.page-content-wrapper{
    width: 100%;
    position: relative;
    padding: 15px;
    transition: 600ms;
}

#wrapper.menuDisplayed .sidebar-wrapper{
    width: 250px;
}

#wrapper.menuDisplayed .page-content-wrapper{
    padding-right: 250px;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li  a{
    display: block;
    color: black;
}

.sidebar-nav li  a:hover{
    background: #16a085;
}
#menu-toggle{
    border: solid 1px black;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: 600ms;
}
#wrapper.menuDisplayed #menu-toggle{
    right: 250px;
}

.nav-btn{
    width: auto;
    border: none;
}
.dropdown{
    margin-top: 10px;
    /* display: block; */
}