#wrapper{
    display: flex;
}

.sidebar-wrapper{
    z-index: 1;
    width: 0;
    height: 95vh;
    overflow-y: scroll;
    background: none;
    right: 0;
    transition: 600ms;
    border: 1px solid;
    position: sticky;
    top: 0px;
}

.page-content-wrapper{
    width: 100%;
    position: relative;
    transition: 600ms;
    padding : 0;

}

 #wrapper.menuDisplayed .sidebar-wrapper{
    width: 250px;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5%;
    line-height: 40px;
}

.sidebar-nav li  a{
    display: block;
    color: black;
}

.sidebar-nav li  a:hover{
    background: #16a085;
}
#menu-toggle{
    border: solid 1px black;
    text-decoration: none;
    position: sticky;
    left: 100%;
    top: 0;
    transition: 600ms;
    z-index: 99999;
    background: rgb(183, 155, 118);
}

.nav-btn{
    width: 85%;
}
.dropdown{
    margin-top: 10px;
    width: auto;
}
.dropdown-content{
    width: auto;
    overflow: hidden;
    height:fit-content;
    transition: 2s;
}

.hidden{
    height: 0;
}