{% extends 'base.html.twig' %}

{% block title %}Hello PieceArmureController!{% endblock %}

{% block body %}

<table>
    <tr>
        <th>id</th>
        <th>emplacement</th>
        <th>type</th>
        <th>valeur</th>
    </tr>
    {% for piece in vide %}
    <tr>
        <th>{{piece.id}}</th>
        <th>{{piece.localisation.nom}}</th>
        <th>{{piece.type.nom}}</th>
        <th>{{piece.valeur}}</th>
    </tr>
    {% endfor %}
</table>
{% endblock %}
