{% extends 'base.html.twig' %}

{% block title %}Hello PieceArmureController!{% endblock %}

{% block body %}

<table>
    <tr>
        <th>Id</th>
        <th>Emplacement</th>
        <th>Type</th>
        <th>Valeur</th>
    </tr>
    {# {% for piece in vide %} #}
    <tr>
        <th>{{vide.id}}</th>
        <th>{{vide.localisation.nom}}</th>
        <th>{{vide.type.nom}}</th>
        <th>{{vide.valeur}}</th>
    </tr>
    {# {% endfor %} #}
</table>
{% endblock %}
