 {% extends 'base.html.twig' %} 

{% block title %} Accueil | {{parent()}}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h1 class="title">Bienvenue sur Guintuaris</h1>
        <h2 class="sub-title">Qu'est ce qu'est Guintuaris ?</h2>
        <p class="content">Guintuaris est un jeu de role qui ce passe de l'univers du même nom. Créer par Alexandre Baudry le projet de créer le jeu de role a commencer en 2019, le jeu est encore en developpement mais nous esperons publier le jeu très bientot.</p>
        <h2 class="sub-title">Et Guintuaris.fr alors ?</h2>
        <p class="content">Sur Guintuaris.fr vous pourrez jouez avec vos amis en ligne, vous pourrez créer vos fiche personnage et avoir les regles de jeu a porter de main</p>
        <h2 class="sub-title">J'aimerais en savoir plus sur l'univers de Guintuaris.</h2>
        <p class="content">L'univers de Guintuaris est encore en developpement lui aussi, vous pourrez avoir quelque details de plus sur ce site. nous prevoyons de crée un nouveau site web où vous pourrez tout savoir de l'univers et de son histoire.</p>
        <h2 class="sub-title">Je suis interesser mais je suis seul joueur.</h2>
        <p class="content">Vous n'avez pas de groupe ? Ne vous inquietez pas, un serveur discord communautaire est disponible où vous pourrez rencontrer d'autre joueur et d'autre maitre du jeu. cliquez ici pour rejoindre le serveur</p>
        <h2 class="sub-title">J'aimerais devenir maitre du jeu.</h2>
        <p class="content">Pour des soucis de securité la fonction de maitre du jeu est restraint sur Guintuaris.fr. il faut donc faire la demande à un administrateur qui vous reponderas au plus vite</p>
        <h2 class="sub-title">J'aimerais en savoir plus</h2>
        <p class="content">En cas de question vous pouvez nous contacter en cliquant ici ou vous pouvez nous envoyer un mail avec l'adresse suivante contact.guintuaris@gmail.fr </p>
    </div>
{% endblock %} 