 {% extends 'base.html.twig' %} 

{% block title %} Accueil | {{parent()}}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h1 class="title">Bienvenue sur Guintuaris</h1>
        <div class="content">
            <h2 class="sub-title">Qu'est-ce qu'est Guintuaris ?</h2>
            <p>Guintuaris est un jeu de rôle qui se passe de l'univers du même nom. Créer par Alexandre Baudry le projet de créer le jeu de rôle a commencer en 2019, le jeu est encore en développement, mais nous espérons publier le jeu très bientôt.</p>
            <h2 class="sub-title">Et Guintuaris.fr alors ?</h2>
            <p>Sur Guintuaris.fr, vous pourrez jouer avec vos amis en ligne, vous pourrez créer vos fiches personnage et avoir les règles de jeu à portée de main.</p>
            <h2 class="sub-title">J'aimerais en savoir plus sur l'univers de Guintuaris.</h2>
            <p>L'univers de Guintuaris est encore en développement lui aussi, vous pourrez avoir quelque détail de plus sur ce site. Nous prévoyons de créer un nouveau site web où vous pourrez tout savoir de l'univers et de son histoire.</p>
            <h2 class="sub-title">Je suis intéressé, mais je suis seul joueur.</h2>
            <p>Vous n'avez pas de groupe ? Ne vous inquiétez pas, un serveur Discord communautaire est disponible où vous pourrez rencontrer d'autre joueur et d'autre maitre du jeu. Cliquez ici pour rejoindre le serveur.</p>
            <h2 class="sub-title">J'aimerais devenir maître du jeu.</h2>
            <p>Pour des soucis de sécurité, la fonction de maître du jeu est restreinte sur Guintuaris.fr. Il faut donc faire la demande à un administrateur qui vous répondra au plus vite.</p>
            <h2 class="sub-title">J'aimerais en savoir plus.</h2>
            <p>En cas de question, vous pouvez nous contacter en cliquant ici ou vous pouvez nous envoyer un mail avec l'adresse suivante contact.guintuaris@gmail.fr. </p>
        </div>
    </div>
{% endblock %}  