 {% extends 'base.html.twig' %} 

{% block title %} Le bureau | {{parent()}}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h1 class="title">Le bureau</h1>
        <div class="content">
            <h2 class="sub-title">le bureau ? c'est quoi ?</h2>
            <p>le bureau est un projet en cours de developpement par les equipes de Guintuaris.</p>
            <p>le bureau est un site ou vous pourrez en savoir plus sur l'univers de Guintuaris, le but seras de vous permetre de naviguer comme bon vous semble dans le bureau afin de tout savoir sur l'histoire, le geographie, la faune,la flore et bien d'autre chose !</p>
            <h2>De nouvelle infos viendront sur cette page alors soyer attentif !</h2>
        </div>
    </div>
{% endblock %}  