<html>
    <body>
    <h1>Bienvenue {{username}} ! </h1>
        <div>
            <p>Bonjour {{username}}.</p>
            <p>Nous somme heureux de vous acuillier sur Guintuaris.fr.</p>
        </div>
    </body>
</html>