<html>
    <body>
    <h1>Bienvenue {{username}} ! </h1>
        <div>
            <p>Bonjour {{username}}.</p>
            <p>Nous sommes heureux de vous accueillir sur Guintuaris.fr.</p>
        </div>
    </body>
</html>