{% extends 'base.html.twig' %}

{% block title %} Ajouter une Bete | {{parent()}}{% endblock %}

{% block body %}

{{ form_start(beteForm) }}
{{ form_widget(beteForm)}}
<button>Ajouter !</button>
{{form_end(beteForm)}}
{% endblock %}