{% extends 'base.html.twig' %}

{% block title %} Ajouter une competence | {{parent()}}{% endblock %}

{% block body %}

{{ form_start(competenceForm) }}
{{ form_widget(competenceForm)}}
<button>Ajouter !</button>
{{form_end(competenceForm)}}
{% endblock %}