{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

            <li class="nav-item"><a href="{{ path('admin_add_competence')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Ajouter une Competence</a></li>

{% endblock %}
