{% extends 'base.html.twig' %}

{% block title %} Blessure Grave | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
        <h1 class="title">Blessure Grave</h1>
        <div class="content">
            <h2 class="sub-title">Description</h2>
            
            <p>Durant les combats, il arrive fréquemment que vous vous blessiez, 
            ces blessures sont en général des égratignures et des coupures. 
            Mais il arrive parfois que des coups soient beaucoup plus violents et 
            puissent vous casser des os ou encore vous toucher des organes 
            vitaux dans ce cas-là, vous obtenez ce qu'on appelle une blessure grave. 
            Comme son nom l'indique, les blessures graves sont des blessures qui vont 
            fortement impacter votre vitalité à court et moyen terme.</p>
            <br>

            <h2 class="sub-title">Comment soigner une blessure grave ?</h2>
    
            <p>La réponse est simple, avec du temps ! 
            La magie est certes puissante sur guintuaris, 
            mais elle ne permet pas de faire de miracle. Seul le temps peut 
            faire cela et parfois seul, il ne suffit pas. Pour certaines blessures 
            (les grosses plaies notamment), il sera important de se reposer pour que 
            les soins soient efficaces. Si vous ne vous reposez pas votre plaie 
            guérira pas ou même pire elle s'aggravera.</p>
        
            <br>
            <p>Il est aussi possible d’aggraver une blessure si 
            vous ne faites pas attention, par exemple si vous portez une 
            charge lourde alors que vous avez un bras cassé, 
            il se peut que la blessure à votre bras s’aggrave et que par 
            la suite vous ne soyez plus en mesure d’utiliser votre bras.</p>

            <br>
            <h3>Exemple</h3>
            <p>Falgram et un citrinzi et il se prend un violent coup sur 
            le thorax lui brisant 6 côtes, désormais avec cette blessure 
            grave Falgram aura besoin de plusieurs semaines pour 
            qu’il puisse guérir complètement de ces blessures. 
            Avec une telle blessure, Falgram aura du mal à faire de simples 
            actions comme courir ou même viser avec son pistolet 
            (malus sur les jets physique). Si Falgram se met à courir après 
            2 semaines de repos ce dernier a encore du mal à courir 
            correctement s'il persiste sa blessure peut s’aggraver et 
            empirer ces fractures et s'il persiste encore, 
            il pourrait même perforer un poumon !</p>

            <br>
            <p>En fonction de la blessure, les talents et les malus peuvent varier.</p>
            <p>Un malus débute à 5 points et peut aller jusqu'à 20 points 
            selon la gravité et le niveau de maîtrise. 
            (plus le niveau de maîtrise est élevé, moins le malus sera élevé.)</p>
            <p>Les talents quant à eux seront principalement des malus physique, 
            mais sur certaines blessures comme une commotion cérébrale 
            peuvent affecter les capacités intellectuelles sont elles aussi affectées.</p>

            <br>
            <p>Lorsque vous recevez une blessure grave, 
            vous recevez également un malus associé à cette blessure, 
            ce malus devrait baisser avec le temps si vous vous reposez correctement. 
            Mais il peut augmenter si votre blessure s’aggrave.</p>

            <br>
            <p>Si vous recevez une troisième trois blessure grave dans un temps 
            courts coûts entre le premier et le troisième, 
            vous tomberez inconscient et vous devrez alors lancer un 
            jet de dé contre la mort, car oui vous risquez de mourir dû au 
            trop grand nombre de blessure.</p>

            <br>
            <p>Ce module de règle est très arbitraire et dépendra uniquement 
            du maître du jeu et de ces décisions.</p>
        </div>
	</div>
{% endblock %}
