{% extends 'base.html.twig' %}

{% block title %} Les regles | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">Regles de jeu</h1>
		<p class="content">les regles de jeu vont bientt arrivé sur Guintuaris.fr.</p>
		<p class="content"> vous pourrez consulter toute les regles de jeu et les lexique en deux clique grace a cette page.</p>
		<h2 class="sub-title">Soyer patient cette fonctonalité arrive bientot</h2>
	</div>
{% endblock %}
