{% extends 'base.html.twig' %}

{% block title %}changer d'armure{% endblock %}

{% block body %}

<select name="" id="">
    <option value="">Tissu</option>
    <option value="">Matelassee</option>
    <option value="">cuir Souple</option>
    <option value="">cuir</option>
    <option value="">cuir Cloute</option>
    <option value="">ecaille</option>
    <option value="">Peaux</option>
    <option value="">Maille Legere</option>
    <option value="">Cuirrasse</option>
    <option value="">Plate</option>
    <option value="">Enlever</option>
    <option value="">Autre</option>
</select>
<select name="" id="">
    <option value="">Tissu</option>
    <option value="">Matelassee</option>
    <option value="">cuir Souple</option>
    <option value="">cuir</option>
    <option value="">cuir Cloute</option>
    <option value="">ecaille</option>
    <option value="">Peaux</option>
    <option value="">Maille Legere</option>
    <option value="">Cuirrasse</option>
    <option value="">Plate</option>
    <option value="">Enlever</option>
    <option value="">Autre</option>
</select>
<select name="" id="">
    <option value="">Tissu</option>
    <option value="">Matelassee</option>
    <option value="">cuir Souple</option>
    <option value="">cuir</option>
    <option value="">cuir Cloute</option>
    <option value="">ecaille</option>
    <option value="">Peaux</option>
    <option value="">Maille Legere</option>
    <option value="">Cuirrasse</option>
    <option value="">Plate</option>
    <option value="">Enlever</option>
    <option value="">Autre</option>
</select>
<select name="" id="">
    <option value="">Enlever</option>
    <option value="">Autre</option>
</select>
<select name="" id="">
    <option value="">Enlever</option>
    <option value="">Autre</option>
</select>
<select name="" id="">
    <option value="">Enlever</option>
    <option value="">Autre</option>
<select name="" id="">

</select>

{% endblock %}
