{% extends 'base.html.twig' %}

{% block title %}changer d'armure{% endblock %}

{% block body %}

 {{ form_start(armureForm)}}
 {{ form_widget(armureForm)}}
 <button>Modifier !</button>
 {{ form_end(armureForm)}}
{% endblock %}
