{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}

{% block body %}
{{ form_start(personnageForm) }}
{{ form_widget(personnageForm) }}
<button>Créer</button>

{{ form_end(personnageForm) }}

{% endblock %}
