{% extends 'base.html.twig' %}

{% block title %}
	Mon equipement |
	{{parent()}}
{% endblock %}

{% block body %}
	{% if app.user.id == personnage.joueur.id %}
		{{ form_start(armureForm)}}
		{{ form_widget(armureForm)}}
		<button>Modifier !</button>
		{{ form_end(armureForm)}}
	{% endif %}
{% endblock %}
