{% extends 'base.html.twig' %}

{% block title %} Mon equipement | {{parent()}}{% endblock %}

{% block body %}

 {{ form_start(armureForm)}}
 {{ form_widget(armureForm)}}
 <button>Modifier !</button>
 {{ form_end(armureForm)}}
{% endblock %}
