{% extends 'base.html.twig' %}

{% block title %}
	|
	{{parent()}}
{% endblock %}

{% block body %}
	{% if app.user.id == personnage.joueur.id %}
		{{ form_start(personnageForm) }}
		{{ form_widget(personnageForm) }}
		<button>level up !</button>

		{{ form_end(personnageForm) }}
	{% endif %}
{% endblock %}
