{% extends 'base.html.twig' %}

{% block title %}  | {{parent()}}{% endblock %}

{% block body %}
{{ form_start(personnageForm) }}
{{ form_widget(personnageForm) }}
<button>level up !</button>

{{ form_end(personnageForm) }}

{% endblock %}