{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}

{% block body %}
    <h2>Fiches personnage</h2>
    <ul>
    {% for personnage in personnages %}
        <li>
            <a href="{{ path("equipe_fiche_view", {"idEquipe" : personnage.equipe.id, "idPersonnage" : personnage.id}) }}">{{ personnage.nom }}</a>
        </li>
    {% endfor %}
    </ul>
        <hr/>
{% endblock %}