{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}

{% block body %}
    <ul>
    {% for personnage in personnages %}
        <li>
            <a href="{{ path("personnage_view", {"id" : personnage.id}) }}">{{ personnage.nom }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
