{% extends 'base.html.twig' %}

{% block title %} Mon lore | {{parent()}}{% endblock %}

{% block body %}
    {{ form_start(loreForm)}}
      {{form_widget(loreForm)}}
      <button>valider</button>
    {{ form_end(loreForm)}}
{% endblock %}