{% extends 'base.html.twig' %}

{% block title %} Mon équipe | {{parent()}}{% endblock %}

{% block body %}
    <h2>Fiches personnages</h2>
    <ul>
    {% for character in characters %}
        <li>
            <a href="{{ path("equipe_fiche_view", {"teamId" : teamId, "characterId" : character.id}) }}">{{ character.name }}</a>
        </li>
    {% endfor %}
    </ul>
        <hr/>
{% endblock %}