{% extends 'base.html.twig' %}

{% block title %}Erreur 403| {{parent()}}{% endblock %}


{% block body %}
<div class="container">
    <h1 class="title">Une mysterieuse entité vous bloque l'accés</h1>
    <p>Une entité de <strong>niveau 403</strong> fait apparaitre un mur invisible ce dressant devant vous. Ce mur est trop grand, il vous empèche d'aller plus loin.</p>
    <p>Vite faite <a title="Retour a l'accueil" href="{{path("main_home")}}">demi-tour</a> avant qu'elle ne vous anéantisse. </p>
</div>
{% endblock %}