{% extends 'base.html.twig' %}

{% block title %}Erreur | {{parent()}}{% endblock %}


{% block body %}
<div class="container">
    <h1 class="title">Aïe ! des gobelins nous ataques </h1>
    <p>une armèe de <strong>500 gobelins</strong> viennent d'attaquer guintuaris.com et quelque degats sont a deplorée.</p>
    <p>si ces degats persiste n'hesiter pas a nous contacter pour nous faire par du problème</p>
</div>
{% endblock %}