{% extends 'base.html.twig' %}

{% block title %}
	Erreur 404|
	{{parent()}}
{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="title">oh non ! j'ai bein peur que vous vous etes perdus</h1>
        <p>certin chemin ne sont que des pièges afin de perdre. si vous voulez vous retrouver chercher <strong>le chemin 404</strong>. il vous feras retrouver votre route en un claquement de doigts.</p>
    </div>
{% endblock %}