{% extends 'base.html.twig' %}

{% block title %}Erreur 404| {{parent()}}{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="title">Oh non ! j'ai bien peur que vous vous êtes perdus</h1>
        <p>Certain chemins ne sont que des pièges afin de perdre. Si vous voulez vous retrouver cherchez <strong>le chemin 404</strong>. Il vous fera retrouver votre route en un claquement de doigts.</p>
    </div>
{% endblock %}