{% extends 'base.html.twig' %}

{% block title %}Erreur 500| {{parent()}}{% endblock %}


{% block body %}
<div class="container">
    <h1 class="title">Aïe ! des gobelins nous attaquent </h1>
    <p>Une armèe de <strong>500 gobelins</strong> viennent d'attaquer guintuaris.fr et quelque dégats sont à déplorer.</p>
    <p>Si ces degats persistent n'hesitez pas a nous contacter pour nous faire part du problème.</p>
</div>
{% endblock %}