{% extends 'base.html.twig' %} 

{% block title %} Compte désactivé | {{parent()}}{% endblock %}

{% block body %}
    <h1>Votre compte est Désactivé</h1>
    <p>Nous sommes désolées, {{name}}, mais votre compte a été suspendu par un administrateur.</p>
    <p>Toutes vos actions sont restreintes, mais rassurer vous aucune de vos informations n'ont été supprimé.</p>
    <p>Si vous souhaitez plus d'informations veuillez contacter notre support.</p>
    <a title="Déconnéxion" href="{{path("app_logout")}}">Déconnéxion</a>

{% endblock %} 